*{
    margin: 0;
    padding: 0;
}
/* logo section navigation */
#navbar #logo{
    margin: 2px 2px;
} 

#navbar #logo img{
    height: 70px;
    width: 100px;
    border-radius: 5px;
}
/* navbar list section */
#navbar{
    display: flex;
    position: relative;
}

#navbar::before{
    content: "";
    background-color: navy ;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

#navbar ul{
    display: flex;
    margin-top: 10px;
    margin-left: 30px ;
}

#navbar ul li{
    list-style: none;
}

#navbar ul li a:hover{
    background-color: #0f223d;
    font-size: 18px;
    border-radius: 5px;
    color: white;
}

#navbar ul li a{
    text-decoration: none;
    padding: 10px;
    margin: 10px 30px;
    display: block;
    color: white;
}

/* login section */
.container{
    display: flex;
    align-items: center;
}

.container img{
    width: 840px;
    margin: 5px 10px;
    
}

.container #login{
    margin: 5px 10px;
    border: 2px solid black;
    padding: 20px;
    width: fit-content;
    font-size: 20px;
    font-family: monospace;
    height: 150px;
    color: blue;
    border-radius: 25px;
}

.container #login .loginfo{
    margin: 5px 10px;
    padding: 5px 25px;
    
}

.container #login #btn{
    padding: 5px 145px;
    margin: 10px 0px;
    background-color: blue;
    color: white;
}

.container #login #btn1{
    padding: 5px 76px;
    background-color: green;
    
}

.container #login #btn1 #newaccount{
    text-decoration: none;
    padding: 5px 20px;
    color: white;

}

/* footer section */
footer{
    background: blue;
    text-align: center;
    padding: 25px;
    margin: auto;
    color: white;
}


