*{
    margin: 0px;
    padding: 0px;
}

.paraone{
    font-size: 40px;
    color: red;
}

.head{
    color: green;
    border: 3px dashed red;
}

#image{
    height: 400px;
    width: 500px;
}

#paratwo{
    font-size: 40px;
    color: green;
    background-color: blue;
}

b{
    font-size: 50px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}